.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 2rem 0;
  background-color: darkblue;
}

.App-body {
  padding: 1rem 5rem;
  background-color: beige;
}

.col{
  margin: 0 1rem;
}

.form-label{
  margin: 0 0;
}

table {
 margin: 0 auto;
}

.table-wrapper-scroll-y{
  display: block;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;  
}

.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background: darkblue;
  color: white;
  padding: 8px 16px;
  text-align: center;
}